/* COLOUR PALETTE:
NIGHT: #03120E
EERIE BLACK: #1A1D1A
DARK SLATE GREY: #26413C
CHARCOAL: #3E505B
CAMBRDIBE BLUE: #8AB0AB // #a9ccc8
*/


body {
    background-color: #03120e !important;
}

a,
body p,
h1,
i,
h3,
h4,
h2 {
    font-family: 'Roboto Mono', sans-serif ;
    color: #a9ccc8 !important;
}

#left {
  padding-left: 13.75rem;
  padding-top: 2.8rem;
}

#right {
  padding-right: 13.75rem;
  padding-top: 2.8rem;
}



.bottom-navbar{
    position:fixed;
    bottom: 0;
}


.contact-button {

    width: 13.75rem;
    font-family: 'Roboto Mono', sans-serif ;
    font-size: 1.375rem;
    background-color: #26413C;
    border-radius: 0.8rem !important;
    transition-duration: 0.7s;
    border: none;
}

.contact-button:hover {
    background-color: #a9ccc8;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(116, 155, 152, 0.19);
}

.contact-button.active {
    background-color: #a9ccc8;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(116, 155, 152, 0.19);
}


/* The Modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 30%; /* Full width */
    height: 30%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #03120E !important;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 1.3rem;
    border: 0.2rem solid #a9ccc8 !important;
    width: 40% !important;
}
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition-duration: 0.3s;
}
  
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }


.about_me{
  padding: 1.3rem;
  width: 100%;
  margin-bottom: 10%;
  margin: 0 auto; /* this is to center the div */
  
}

.work_experience{
    padding: 1.3rem;
    text-align: center;
    width: 100%;
    border-radius: 25px;
    transition-duration: 1s;
    margin: 0 auto; /* this is to center the div */
    margin-bottom: 10%;
    border: 2px solid #3b605a;

}


.work_experience:hover{ 
    
    transition: 0.3s;
    border-radius: 25px;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(3, 255, 234, 0.19);
    cursor: pointer;
    
}

.projects{
  padding: 1rem;
  text-align: center;
  width: 100%;
  border-radius: 25px;
  transition-duration: 1s;
  margin: 0 auto; /* this is to center the div */
  margin-bottom: 3%;
  border: 2px solid #3b605a;

}

.projects:hover{ 
  transition: 0.3s;
  border-radius: 25px;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(3, 255, 234, 0.19);
  cursor: pointer;
}


span {
    font-family: 'Roboto Mono', sans-serif ;
    color: #a9ccc8 !important;
}


a {
    text-decoration: none !important;
}

.section {
  display: none; 
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 1s ease-in-out;
}




.popover{
  max-width: 500px !important;
  max-height: 500px !important;
}


.popover-body{
  background-color: #26413C !important;
  border: 2px solid #a9ccc8;
}


@media screen and (max-width: 1024px) {
  body {
    padding-top: 80px;
  }

  #left,
  #right {
    width: 100%;
    max-height: none;
    overflow-y: auto;
    position: relative;
    box-sizing: border-box; /* Include padding in the total width */
    height: auto; /* Change to auto for dynamic height */
  }

  #left{
    position: relative  !important;
    padding: 2% !important;
    height: 100% !important;
  }
  #right {
    padding: 2.8rem 0 0 0 !important; /* Adjusted padding */
    margin: 0 !important; /* Reset margin */
    margin-bottom:  50vh;
    height: 100% !important;
    float: none;
  }

  .bottom-navbar {
    text-align: center;
    position: static;
    margin-bottom: 0;
    padding-top: 30px;
  }

  .contact-button {
    width: 100%;
    margin: 0 auto;
  }

  .modal-content {
    width: 90% !important;
  }

  #left {
    position: relative;
    top: 0;
    z-index: 1;
  }

  .projects,
  .work_experience {
    padding: 15px;
    text-align: center;
    width: 100%;
    border-radius: 25px;
    transition-duration: 1s;
    margin: 0 auto;
    margin-bottom: 3%;
    border: 2px solid #3b605a;
  }
}

  

@media screen and (max-width: 600px) {
  .modal-content {
    width: 90% !important;
  }
}